.Weather{
    border: 2px solid gray;
    background-color:white;
    font-family: 'VT323', monospace;
    padding: 16px;
    margin:30px;
    border-radius: 10px;   
}

.Weather form{
    margin-bottom:20px;
}

.Weather h1{
    color:black;
    font-size: 50px;
    font-weight:500;
    height:60px;
    text-align:center;
}

.temperature {
    font-size: 60px;
}

.Weather ul{
margin: 0;
}

.Weather li{
    list-style:none;
    font-size: 25px;
}
